<mat-toolbar>
    <div class="row" style="width: 100%">
        <div class="col-md-3">
            <div class="menu-item"  style="margin-top:1.2em;   ">Animal Shop</div>
        </div>
        <div class="col-md-3">
            <mat-form-field style="width: 100%">
                <mat-label>Search Advertisements</mat-label>
                <input matInput placeholder="Dog">
                <mat-icon matSuffix>search</mat-icon>
                <input matInput class="menu-item">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <button routerLink="post/advertisement" class="menu-item"  style="margin-top:1.5em;" mat-flat-button>Post Advertisement</button>
        </div>
    </div>
</mat-toolbar>
