<mat-toolbar>
    <div class="row" style="width: 100%">
        <div class="col-md-3">
            <div class="menu-item"  style="margin-top:1.2em;   ">Animal Shop</div>
        </div>
        <div class="col-md-3">
            <mat-form-field style="width: 100%">
                <mat-label>Search Advertisement</mat-label>
                <input matInput placeholder="Dog">
                <mat-icon matSuffix>search</mat-icon>
                <input matInput class="menu-item">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <button class="menu-item"  style="margin-top:1.5em;   " mat-flat-button>Post Advertisement</button>
        </div>
    </div>


</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>