<div class="col-md-6">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <mat-form-field id="name" >
                    <input formControlName="name"  matInput placeholder="Name">
                </mat-form-field>

                <mat-form-field>
                    <input currency-mask formControlName="price"  matInput placeholder="Price (€)">
                </mat-form-field>

                <mat-form-field  class="description" >
                    <textarea formControlName="description" rows="5"  matInput placeholder="Description"></textarea>
                </mat-form-field>

                <mat-form-field>
                    <mat-select (change)="changeKind($event)" formControlName="kind" placeholder="Kind">
                      <mat-option value="Dog">Dog</mat-option>
                      <mat-option value="Cat">Cat</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button type="submit" class="btn ">Submit</button>


            </form>

</div>

<div class="col-md-6">

</div>




