<div class="col-md-6">
        <form>
                <mat-form-field id="name" >
                    <input  matInput placeholder="Name">
                </mat-form-field>
            
                <mat-form-field>
                    <input  matInput placeholder="Price (€)">
            
                </mat-form-field>
            
                <mat-form-field  class="description" >
                    <textarea rows="5"  matInput placeholder="Description"></textarea>
                </mat-form-field>
            
                <mat-form-field>
                    <mat-select placeholder="Kind">
                      <mat-option value="option">Dog</mat-option>
                      <mat-option value="option">Cat</mat-option>
                    </mat-select>
                  </mat-form-field>
            </form>
</div>

<div class="col-md-6">
    
</div>



